#AddType x-mapp-php5 .php
#AddHandler x-mapp-php5 .php

RewriteEngine ON
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/(index\.php|images|css|js|robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ index.php/$1 [L]

Options All -Indexes
RewriteCond %{HTTP_HOST} !^www.meilimei.com 
RewriteCond %{HTTP_HOST} !^42.121.12.64 [NC] 
RewriteCond %{HTTP_HOST} !^$ 
